.answerchoice-btn-unclicked,
.answerchoice-btn-clicked,
.correct-answer-chosen,
.wrong-answer-chosen,
.fade-out {
   border: 1px solid #4D5B9E;
   border-radius: 8px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   color: #293264;
   margin-right: 13px;
   padding: 5px 20px;
}

.answerchoice-btn-clicked {
   background-color: #D6DBF5;
}

/* 
j .fade-out {
   border: 2px solid grey;
}

.correct-answer-chosen {
   border: 2px solid greenyellow;
}

.wrong-answer-chosen {
   border: 2px solid red;
} */